.indent { text-indent: 10% }
.inline { display: inline; }
.jumbotron { text-align: center; }


@media only screen and (min-width: 992px) {
  .footer-fix {
    position: absolute;

    left: 0;

    right: 0;

    bottom: 0;
  }
}